TE02UD02MoisesAlejandroLuisHerrera/Ej2/D.dtd

<!ELEMENT Libro (Titulo,Contenido,Copyright)>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Contenido (Capitulo+,Separacion)>
<!ELEMENT Capitulo (Tema,Seccion+)>
<!ATTLIST Capitulo materia NMTOKEN #REQUIRED>
<!ELEMENT Tema (#PCDATA)>
<!ELEMENT Seccion (#PCDATA)>
<!ATTLIST Seccion apartados NMTOKEN #REQUIRED>
<!ATTLIST Seccion dificil NMTOKEN #IMPLIED>
<!ELEMENT Separacion EMPTY>
<!ELEMENT Copyright (#PCDATA)>